body {
    background-color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #192A6B !important;
}

.navbar .nav-link {
    color: #ffffff !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #FF9500 !important;
    font-weight: bold;
}

.container {
    margin-top: 30px;
    max-width: 700px;
}

h4 {
    color: #192A6B;
    font-weight: bold;
    border-left: 5px solid #FF6800;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-top
}

.form-label {
    color: #192A6B;
    font-weight: 500;
}

.form-control:focus,
.form-select:focus {
    border-color: #192A6B;
    box-shadow: 0 0 0 0.2rem rgba(25, 42, 107, 0.25);
}

.btn-adicionar {
    background-color: #FF9500;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 30px;
}

.btn-adicionar:hover {
    background-color: #FF6800;
}