body {
    margin: 0;
    background-color: #ffffff;
}
#cara {
    position: absolute;
    left: 0%;
    height: 100%;
    top: 0%;
    width: 60%;
}
#quadrado {
    position: absolute;
    width: 24%;
    height: 45%;
    top: 32%;
    left: 66%;
    background-color: #192A6B;
    border-radius: 2%;
}
#ceara {
    width: 18%;
    left: 70%;
    top: 10%;
    position: absolute;
}
#email {
    position: absolute;
    width: 20%;
    top: 40%;
    left: 68%;
}
#senha {
    position: absolute;
    width: 20%;
    top: 55%;
    left: 68%;
}
#esquece {
    position: absolute;
    width: 20%;
    top: 66%;
    left: 74%;
}
#entrar {
    position: absolute;
    width: 10%;
    top: 66%;
    left: 68%;
    background-color: #ED4D15;
    border-color: #ff9500;
}
#inputs {
    position: absolute;
    width: 10%;
    top: 36%;
    left: 68%;
}
